---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual-budget-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      actual-budget-exporter:
        strategy: RollingUpdate
        pod:
          annotations:
            secret.reloader.stakater.com/reload: actual-budget-exporter-config

        containers:
          app:
            image:
              repository: docker.io/sakowicz/actual-budget-prometheus-exporter
              tag: 1.2.8@sha256:58491955c9a76b452df831c6b20a4c90c34afb9f0bfaa22c62427d281c0721db
            env:
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: actual-budget-exporter-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true

    service:
      metrics:
        controller: *app
        ports:
          metrics:
            port: 3001
