---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
#    - name: local-path-provisioner
#      namespace: storage
    - name: rook-ceph-cluster
      namespace: rook-ceph
#    - name: volsync
#      namespace: volsync
  values:
    defaultPodOptions:
#      nodeSelector:
#        kubernetes.io/arch: amd64
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    controllers:
      home-assistant:
        pod:
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 1
                preference:
                  matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                    - arm64

#          annotations:
#            k8s.v1.cni.cncf.io/networks: |
#              [{
#                "name":"multus-iot",
#                "namespace": "network",
#                "ips": ["172.16.20.99/24"]
#              }]
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.12.1@sha256:f13f9b91beffd015aaa8d1dcd987d0955dcc3ffb2653d7e1c31a0a79e2a27a48
            env:
              TZ: Australia/Melbourne
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.10.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 10.42.0.0/16
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.3@sha256:1a0e813039c8f01404a89654278779ac77492b833bc2d126431268b9b1f1e40a
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "12321",
              "/config"
            ]
            resources:
              requests:
                cpu: 10m
                memory: 256M
              limits:
                memory: 1024M
    service:
      app:
#        primary: true
        type: LoadBalancer
#        sessionAffinity: ClientIP
        annotations:
          lbipam.cilium.io/ips: "10.200.15.241"
        ports:
          http:
            port: &port 8123
          code-server:
            port: &codeserverPort 12321
#    ingress:
#      app:
#        annotations:
#          external-dns.alpha.kubernetes.io/target: external.davidstewen.com
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/icon: home-assistant.png
#          gethomepage.dev/name: Home-Assistant-CM4-Cluster
#          gethomepage.dev/group: Home
#          gethomepage.dev/href: https://home-assistant.${SECRET_DOMAIN}
#          hajimari.io/enable: "true"
#          hajimari.io/icon: mdi:home-assistant
#          hajimari.io/group: Home
#          hajimari.io/url: https://home-assistant.${SECRET_DOMAIN}
#        className: external
#        hosts:
#          - host: home-assistant.davidstewen.com
#            paths:
#              - path: /
#                service:
#                  identifier: app
#                  port: http



#      code-server:
#        annotations:
#          external-dns.alpha.kubernetes.io/target: internal.davidstewen.com
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/icon: home-assistant.png
#          gethomepage.dev/name: Home-Assistant-Yellow
#          gethomepage.dev/group: Home
#          gethomepage.dev/href: https://hass-code.${SECRET_DOMAIN}
#          hajimari.io/enable: "true"
#          hajimari.io/icon: mdi:home-assistant
#          hajimari.io/group: Home
#          hajimari.io/url: https://hass-code.${SECRET_DOMAIN}
#        className: internal
#        hosts:
#          - host: hass-code.davidstewen.com
#            paths:
#              - path: /
#                service:
#                  identifier: app
#                  port: code-server

    route:
      app:
        hostnames: ["home-assistant.davidstewen.com"]
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port

      codeserver:
        hostnames: ["hass-code.davidstewen.com"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *codeserverPort

    persistence:
      config:
        existingClaim: ${VOLSYNC_CLAIM}
        globalMounts:
          - path: /config
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
