---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/arch
                operator: In
                values:
                - arm64
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/worker
                operator: In
                values:
                - worker
    controllers:
      pgadmin:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
#          secret.reloader.stakater.com/reload: authelia-secret
        pod:
          securityContext:
            runAsUser: 5050
            runAsGroup: 5050
            fsGroup: 5050
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: docker.io/dpage/pgadmin4
              tag: 9.10@sha256:8c128407f45f1c582eda69e71da1a393237388469052e3cc1e6ae4a475e12b70
            env:
              PGADMIN_DISABLE_POSTFIX: "true"
              PGADMIN_LISTEN_PORT: &httpPort 5050
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: pgadmin-secret
              - secretRef:
                  name: cluster-secrets
            resources:
              requests:
                cpu: 15m
                memory: 100M
              limits:
                memory: 500M
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /misc/ping
                    port: *httpPort
                  failureThreshold: 10
              readiness: *probes
              startup: *probes
    service:
      app:
        controller: *app
        ports:
          http:
            port: *httpPort

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *httpPort

    persistence:
      config:
        existingClaim: pgadmin-config
        globalMounts:
          - path: /var/lib/pgadmin

      nfs:
        type: nfs
        server: ${NAS_IP:=temp}
        path: /volume2/piNFS01/flux-cluster/postgres/pgadmin_backups
        globalMounts:
          - path: /nfs
            readOnly: false

#      server-json:
#        enabled: true
#        type: configMap
#        name: servers-json
#        globalMounts:
#          - path: /pgadmin4/servers.json
#            subPath: servers.json
