---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: esphome
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
#  dependsOn:
#    - name: local-path-provisioner
#      namespace: storage
#    - name: volsync
#      namespace: volsync
  values:
    controllers:
      esphome:
        revisionHistoryLimit: 3
        pod:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                - matchExpressions:
                  - key: node-role.kubernetes.io/worker
                    operator: In
                    values:
                    - worker
              preferredDuringSchedulingIgnoredDuringExecution:
              - weight: 1
                preference:
                  matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                    - arm64
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2026.1.4

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            securityContext:
              runAsNonRoot: false
              readOnlyRootFilesystem: false
              privileged: true
              capabilities:
                add:
                  - NET_ADMIN
                  - NET_RAW

            resources:
              requests:
                cpu: 20m
                memory: 64M
              limits:
                memory: 512M

            env:
              TZ: "${TIMEZONE}"
              ESPHOME_DASHBOARD_USE_PING: true
              ESPHOME__INSTANCE_NAME: ESPHome
              ESPHOME__PORT: &httpPort 6052
              ESPHOME__APPLICATION_URL: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
              ESPHOME__LOG_LEVEL: info

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi


    service:
      app:
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: &esphome-port 6052

      code-server:
        ports:
          http:
            port: &code-server-port 12321

#    ingress:
#      app:
#        className: "internal"
#        annotations:
#          hajimari.io/enable: "true"
#          hajimari.io/instance: "admin"
#          hajimari.io/appName: "ESPHome"
#          hajimari.io/icon: mdi:chip
#          hajimari.io/group: "home automation"
#          gethomepage.dev/enabled: "true"
#          gethomepage.dev/group: Home
#          gethomepage.dev/name: esphome
#          gethomepage.dev/icon: esphome.png
#          gethomepage.dev/description: ESPHome
#          gethomepage.dev/widget.type: esphome
#          gethomepage.dev/widget.url: http://esphome.home:6052
#          gethomepage.dev/widget.key: "834c5259ed37fc041ba31a32f8d9bd608fb9a2ab"
#        hosts:
#          - host: &host "esphome.${SECRET_DOMAIN}"
#            paths:
#              - path: /
#                service:
#                  identifier: app
#                  port: http
#        tls:
#          - hosts:
#              - *host

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: esphome
          gethomepage.dev/icon: sh-esphome
          gethomepage.dev/description: ESPHome
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: http://esphome.home:6052
        hostnames: ["esphome.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: app
                port: *esphome-port

      code-server:
        hostnames: ["esphomecode.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: code-server
                port: *code-server-port

    persistence:
      config:
        existingClaim: esphome-config
#      esphome-cache:
#        type: emptyDir
#        globalMounts:
#          - path: /cache


      buildcache:
        suffix: buildcache
        size: 50Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          esphome:
            app:
              - path: /cache

      secrets:
        type: secret
        name: esphome-secrets
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
